.tab-card{
    width: 20rem;
    background-color: #edede9;
    color: gray;
    border: none;
    border-radius: 0;
    position: relative;
    transition: 0.5s;
    margin-right: 5px;
}
.tab-card:hover{
    transition: 0.5s;
    transform: translateY(-5px);
}
.learn-more-btn{
    font-size: 12px;
    padding: 0;
    border: none;
    font-weight: bold;
}
.tab-card:hover .learn-more-btn{
    color: #730042 ;
}

.tab-card h4{
    color: black;
    font-weight: 600;
}

.tab-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #730042;
    transition: width 0.4s ease;
  }

  .tab-card:hover::after{
    width: 100%;
  }