.card{
    height: 450px;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    margin-bottom: 2rem;
}
.image-container{
    width: 100%;
    height: 100%;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.card:hover .card-heading{
    z-index: 1000;
    color: #fff;
}
.card-img{
    transition: 0.5s;
}
.card:hover .card-img{
    transform: scale(1.2);
    transition: 0.5s;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-heading{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px;
}

.card-content{ 
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 0;
    right:-100%;
    background:#1f3d4785;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    transition: 0.5s;
    /* backdrop-filter: blur(5px); */
   
    
}
.card:hover .card-content{
    right: 0;
    transition: 0.5s;
}
.card:hover .content{
    z-index: 1000;
}



